/* This css apply for all page */
*{
    margin: 0;
    padding: 0;
}

/* navigation css */

.primary-color{
    color: #FD6E0A;
}
.primary-button{
    border-radius: 5px;
    background-color: #FD6E0A;
    padding: 18px 40px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border: none;
    font-family: "Open Sans";

}

.mary-logo{
    font-size: 45px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 50px 230px 0px 230px;
    align-items: baseline;
}

.ul-container{
    display: flex;
    justify-content: space-between;
    flex-grow: .2;
    align-items: baseline;
}
.ul-container > li{
    list-style: none;
    
}

/* header content css */

.contact-button{
    color: #FD6E0A;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    padding: 14px 40px;
    background-color: white;
    border-color: #FD6E0A;
    margin-left: 30px;
}
.header-content{
    margin: 40px 0px 0px 230px;
    font-family: "Open Sans";
    display: flex;
    align-items: center;
}
.header-content-1> h3 ,h1, p, button{

    margin-bottom: 25px;
}
.header-content-2>img{
    width: 584px;
    height: 475px;
    object-fit: contain;
   

}


