/* Universal section */

*{
    margin: 0;
}
.primary-button{
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: none;
    font-weight: 500;
}
.secondary-button{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    margin-left: 30px;
}

/* header css style  */
header{
    display: flex;
}
.developer-img{
    height: 100vh;
    margin-right: 60px;
}
.header-container{
    flex-basis:100%;
}
nav{
    
    display: flex;
    justify-content: space-between;
    padding: 50px 10px 0px 10px;
    align-items: baseline;
}
nav > h1{
    color: #181818;
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: 800;
}
nav > h1 > span{
    color: #FD6E0A;
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: baseline;
    flex-basis: content;
    flex-grow: .2;
}
ul>li{
    padding-right: 50px;
    list-style: none;
}
.header-sub-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.hsc-info{
    align-content: center;
}
.hsc-info h3{
    color:  #474747;
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: 600;
}
.hsc-info h1{
    color: #181818;
    font-family: "Open Sans";
    font-size: 85px;
    font-weight: 700;
}
.hsc-info > *{
    padding-bottom: 20px;
}
.hsc-img > img{
    background-image: url(/images/header_bg.png);
    width: 584px;
    height: 620px;
    object-fit: cover;
}


/* About me css style */

.about-me-container{
    border-radius: 10px;
    background-color: #FFF8F3;
    text-align: center;
    width: 1140px;
    height: 550px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.amc-info-container{
    margin: 130px 150px ;
}
.amc-info-container > *{
    padding-bottom: 20px;
}
.amc-info{
    display: flex;
    justify-content: space-around;
}

/* style for what i do container */


.whatIdo-container{
    text-align: center;
    width: 1140px;
    margin:100px auto;
}
.whatIdo-container > *{
    padding-bottom: 30px;
}

.language-box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.language-box-container div{
    width: 267px;
    height: 377px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.language-box-container img{
    width: 44px;
    height: 44px;
    display: block;
    padding: 30px 30px;
}
.language-box-container h1{
    color:  #181818;
    text-align: center;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 700;

}
.language-box-container  h4{
    margin: 0px 60px 20px 30px;
    text-align: left;
}
.language-box-container  p{
    text-align: left;
    padding: 30px;
    line-height: 30px;
}
